@(form: Form[models.LoginUser])


@main("Register New User") {

   <!-- Default panel contents -->
      
 <div class="panel panel-default" style = "width:50%; margin: 0 auto;">
 
 <div class="panel-heading">Register a New User</div>
 
 
    @helper.form(routes.Application.register()) {
	@if(form.hasGlobalErrors) {
  		  <p class="error">
  	      @form.globalError.message
 		   </p>
	}
   <p>
       <input type="email" name="email" placeholder="Email" value="@form("email").value">
   </p>
   <p>
       <input type="password" name="password" placeholder="Password"">
   </p>
   <p>
       <button type="submit" class="btn btn-success" >Register</button>
   </p>
}
</div>
}