@(crashLogs: List[models.CrashReport])
@import helper._
@import models.CrashReport
@main("Crash logs") {
<div class="well well-lg">
   <h1>The Tracking App <span class="label label-default">Analyze</span></h1>
   <a href="@routes.Application.logout()" class="btn btn-warning" style = "float: right">Logout</a>
   <!-- Button trigger modal -->
   <button class="btn btn-default" style = "float: right" data-toggle="modal" href="/registerNewUser"	" data-target="#myModal0" >
   Add New User
   </button>
   <!-- Modal -->
   <div class="modal fade" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="width:60%">
         <div class="modal-content">
         </div>
      </div>
   </div>
   <h2>The Database</h2>
</div>
<div class="alert alert-success">
   <ul class="list-group" style="width:20%;">
      <li class="list-group-item">
         <span class="badge alert-info" style="font-size: 12pt;">@crashLogs.size()</span>
         <b>Crash Reports</b>
      </li>
   </ul>
</div>
<ul>
   <div style = "margin:0 auto">
      <div class="panel panel-default" style = "width:100%; float:left">
         <!-- Default panel contents -->
         <div class="panel-heading">Received Crash Reports</div>
         <div style=" height: 400px; width:100%; overflow:auto;">
            <!-- Table -->
            <table class="table table-striped table-condensed">
               <tr>
                  <th>App Version</th>
                  <th>Android Version</th>
                  <th>Manufacturer<br>Dist</th>
                  <th>Model</th>
                  <th>Date</th>
                  <th>CrashLog</th>
               </tr>
               @for(crashLog <- crashLogs) {
               <tr>
                  <td>
                     <button type="button" class="btn btn-default" style ="width: 90%" data-toggle="tooltip"
                        data-placement="left">@crashLog.Version
                     </button>
                  </td>
                  <td>
                     <button type="button" class="btn btn-default" style ="width: 90%" data-toggle="tooltip"
                        data-placement="left">@crashLog.Android</button>
                  </td>
                  <td>
                     <!-- Button trigger modal -->
                     <button class="btn btn-default" style ="width: 100%" data-toggle="tooltip">
                     @crashLog.Manufacturer</button>
                  </td>
                  <td>
                     <!-- Button trigger modal -->
                     <button class="btn btn-default" style ="width: 100%" data-toggle="tooltip">
                     @crashLog.Model</button>
                  </td>
                  <td>
                     <!-- Button trigger modal -->
                     <button class="btn btn-default" style ="width: 100%" data-toggle="tooltip">
                     @crashLog.Date</button>
                  </td>
                  <td>
                     @crashLog.StackTrace
                  </td>
                  <td>
                     @form(routes.Application.deleteCrashLog(crashLog.id)) {
                     <button class="btn btn-default" onclick="return confirm('Are you sure that you want to delete all the collected data of the User?')">
                     <i class="glyphicon-delete-point"></i>        }
                     </button>
                  </td>
               </tr>
               }
            </table>
         </div>
      </div>
   </div>
</ul>
</div>
</div>
</div>
</div>
}