@(users: List[models.User])
@import helper._
@import models.User
@main("User Informations") {
<div class="well well-lg">
   <h1>The Tracking App <span class="label label-default">Analyze</span></h1>
   <a href="@routes.Application.logout()" class="btn btn-warning" style = "float: right">Logout</a>
   <!-- Button trigger modal -->
   <button class="btn btn-default" style = "float: right" data-toggle="modal" href="/registerNewUser"	" data-target="#myModal0" >
   Add New User
   </button>
   <!-- Modal -->
   <div class="modal fade" id="myModal0" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" style="width:60%">
         <div class="modal-content">
         </div>
      </div>
   </div>
   <h2>The Database</h2>
</div>
<div class="alert alert-success">
   <ul class="list-group" style="width:20%;">
      <li class="list-group-item">
         <span class="badge alert-info" style="font-size: 12pt;">@users.size()</span>
         <b>Registred Tourists</b>
      </li>
   </ul>
</div>
<ul>
   <div style = "margin:0 auto">
      <div class="panel panel-default" style = "width:100%; float:left">
         <!-- Default panel contents -->
         <div class="panel-heading">Registred Users</div>
         <div style=" height: 400px; width:100%; overflow:auto;">
            <!-- Table -->
            <table class="table table-striped table-condensed">
               <tr>
                  <th>Email</th>
                  <th>App Version</th>
                  <th>Android Version</th>
                  <th>Manufacturer<br>Dist</th>
                  <th>Model</th>
                  <th>Screensize</th>
               </tr>
               @for(user <- users) {
               <tr>
                  <td>
                     <button type="button" class="btn btn-default" style ="width: 90%" data-toggle="tooltip"
                        data-placement="left">@user.email
                     </button>
                  </td>
                  <td>
                     <button type="button" class="btn btn-default" style ="width: 90%" data-toggle="tooltip"
                        data-placement="left">@user.appVersion
                     </button>
                  </td>
                  <td>
                     <button type="button" class="btn btn-default" style ="width: 90%" data-toggle="tooltip"
                        data-placement="left">@user.version</button>
                  </td>
                  <td>
                     <!-- Button trigger modal -->
                     <button class="btn btn-default" style ="width: 100%" data-toggle="tooltip">
                     @user.manufacturer</button>
                  </td>
                  <td>
                     <!-- Button trigger modal -->
                     <button class="btn btn-default" style ="width: 100%" data-toggle="tooltip">
                     @user.model</button>
                  </td>
                  <td>
                     @user.screenSize
                  </td>
               </tr>
               }
            </table>
         </div>
      </div>
   </div>
</ul>
</div>
</div>
</div>
</div>
}